@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  position: relative;
  height: 100;
  background-color: #000000;
}
header .wrapper{
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
header .wrapper .hamburger{
  display: none;
}
@media only screen and (max-width: 600px) {
  header .wrapper .hamburger{
    display: block;
  }
}
header .wrapper .logo-container{
}
header .wrapper .logo-container img{
 width: 15rem;
}
header .wrapper .logo-container h1{
  color: #ffffff;
}
header .wrapper .nav-container{
position: relative;
padding-top: 2.5rem;
}
@media only screen and (max-width: 600px) {
  header .wrapper .nav-container{
    display: none;
    background-color: #000000;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
  }
}
header .wrapper .nav-container ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media only screen and (max-width: 600px) {
  header .wrapper .nav-container ul{
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
}
header .wrapper .nav-container ul li a{
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  header .wrapper .nav-container ul li a{
    font-size: 30px;
    line-height: 1.5;
  }
}

/* Main */

/* Hero */
main .hero{
  position: relative;
  height: 100vh;
}
main .hero .spotlight{
  position: absolute;
  top: 5rem;
  left: 0;
  background: linear-gradient(148.91deg, #FFFF00 43.7%, rgba(255, 255, 255, 0.994845) 68.49%, rgba(255, 255, 255, 0.994845) 69.41%, rgba(255, 255, 255, 0.0104167) 78.96%, rgba(255, 255, 255, 0) 78.96%);
  width: 215px;
  height: 215px;
  border-radius: 50%;
  z-index: 998;
}
@media only screen and (max-width: 600px) {
  main .hero .spotlight{
    display: none;
  }
}
main .hero .wrapper{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 600px) {
  main .hero .wrapper{
    grid-template-columns: 1fr;
    text-align: center;
  }
}
main .hero .wrapper .cta{
  padding-top: 7rem;
  z-index: 999;
}
main .hero .wrapper .cta button{
  padding: 7px;
  border: 0px;
  background-color:#000000;
  color: #ffffff;
  border-radius: 10px;
}
main .hero .wrapper .hero-image{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  main .hero .wrapper .hero-image{
    display: none;
  }
}
main .hero .wrapper .hero-image img{
  width: 10rem;
  height: 20rem;
  transform: rotate(270deg);
}

main .about{
  position: relative;
  height: 100vh;
}
main .about .wrapper{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Footer */
footer {
position: relative;
height: 100px;
background-color: #000000;
}
@media only screen and (max-width: 600px) {
  footer {
    min-height: 120px;
    height: auto;
  }
}
footer .wrapper{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
}
@media only screen and (max-width: 600px) {
  footer .wrapper{
    grid-template-columns: 1fr;
    text-align: center;
  }
}
footer .wrapper p{
  color: #ffffff;
}
footer .wrapper ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  footer .wrapper ul{
    flex-direction: column;
    padding: 0;
  }
}
footer .wrapper ul li a{
  text-decoration: none;
  color: #ffffff;
}







@media only screen and (max-width: 600px) {
  .mob-menu{
    position: fixed;
    height: auto;
    width: auto;
    bottom: 2em;
    left: 1em;
    margin: auto;
  }
  .mob-menu .mob-menu-container{
    position: relative;
    display: block;
    background-color: #000000;
    bottom: 5px;
    width: 0px;
    transition: 0.5s ease-in-out;
    min-height: 100px;
    padding-top: 10px;
  }
  .mob-menu .mob-menu-container.show{
    width: 150px;
  }
  .mob-menu .mob-menu-container ul{
    list-style: none;
    text-align: center;
    padding: 0;
  }
  .mob-menu .mob-menu-container ul li a{
    text-decoration: none;
    color: #ffffff;
    line-height: 1.5;
  }
  .mob-menu .mob-menu-icon{
    height: 50px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    background-color: #000000;
    border-radius: 50%;
  }
  .mob-menu .mob-menu-icon .line{
    height: 4px;
    width: 30px;
    background-color: #ffffff;
    margin: 6px auto;
  }
}